<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- mapUnderscoreToCamelCase 프로퍼티 값을 true로 지정 오라클 테이블에서 필드명 board_no == 
			boardNo -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<package name="com.zeus.domain" />
	</typeAliases>

</configuration> 