<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.mapper.Item2Mapper">
	<insert id="insert">
		<selectKey keyProperty="itemId" resultType="int"
			order="BEFORE">
			SELECT item2_seq.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO item2(item_id, item_name, price, description, picture_url, picture_url2)
		VALUES( #{itemId}, #{itemName}, #{price}, #{description}, #{pictureUrl}, #{pictureUrl2})
	</insert>

	<select id="select" resultType="Item2">
		SELECT item_id, item_name, price,
		description, picture_url, picture_url2
		FROM item2
		WHERE item_id = #{itemId}
	</select>
	<update id="update">
		UPDATE item2 SET
		item_name = #{itemName},
		price = #{price},
		description = #{description},
		picture_url = #{pictureUrl},
		picture_url2 = #{pictureUrl2}
		WHERE item_id = #{itemId}
	</update>
	<delete id="delete">
		DELETE FROM item2 WHERE item_id = #{itemId}
	</delete>

	<select id="list" resultType="Item2">
	<![CDATA[ 
		SELECT item_id, item_name, price, description, picture_url, picture_url2 
		FROM item2 WHERE item_id > 0 ORDER BY item_id DESC 
	]]>
	</select>

	<select id="getPicture" resultType="String">
		SELECT picture_url FROM item2 WHERE item_id = #{itemId}
	</select>

	<select id="getPicture2" resultType="String">
		SELECT picture_url2 FROM item2 WHERE item_id = #{itemId}
	</select>
</mapper>